body{
    margin:0;
    padding:0;
}

header{
    background-color:grey;
}

header nav ul{
    display:flex;
    margin:0;
    padding:0;
}

header nav ul li{
    list-style:none;
    padding:15px;
}

.menu{
    color:white;
    text-decoration:none;
}

.menu:hover{
    background-color:darkgrey;
    letter-spacing:4px;
    transition:all 0.4s ease-in;
}

main{
    padding:32px;
}

.name{
    font-size:48px;
    font-family:"Gothic A1",sans-serif;
    margin:20px 0;
}

.profile_image{
    width:320px;
    height:320px;
    overflow:hidden;
}

.profile_image img:hover{
    width:320px;
    height:320px;
    transform:scale(1.5,1.5);
    transition:transform 1s;
}

#detail{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.sub_title{
    font-size:32px;
    font-family:"Gothic A1", sans-serif;
    margin:30px 0 10px 0;
}

footer{
    padding:40px;
    background-color:lightgray;
}

@media (max-width: 768px){
    main{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .name{
        text-align:center;
    }
}